@charset "utf-8";

* { 
	text-align: center;
	margin: 0px;
    padding: 0px;
	border: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.title { 
	background: hsla(359,76%,41%,1.00);
	padding: 10px;
}

.logo {
	width: 200px;
}

nav {
	background: hsla(359,76%,41%,1.00);
	margin-bottom: 40px;
}

.navlink {
	color: white;
}

.button {
	float: left;
}
.carousel {
	width: 100%;
	align: center;
	padding: 30px;
}

.quote {
	padding: 10px;
}

.source {
	color: hsla(359,76%,41%,1.00);
	font-style: italic;
}

.row  { 
    padding: 10px;
	margin-bottom: -10px;
}

h4 {
	padding: 50px;
	margin-bottom: 10px
}

footer {
	padding: 10px;
	background: hsla(359,76%,41%,1.00);
}

.pagetwo {
	padding-bottom: 67px;
}

.jumbotron {
	color: white;
	background-color: hsla(359,76%,41%,1.00);
}

.btn {
	background-color: black;
}

h1 {
	padding-top: 30px;
}

h3 {
	padding-bottom: 30px;
}

.even {
	color: hsla(359,76%,41%,1.00);
}

.last {
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.footertwo {
	background-color: white;
}