@charset "utf-8";

* { 
	text-align: center;
	margin: 0px;
    padding: 0px;
	border: 0px;
}

.title { 
	background: hsla(359,72%,39%,1.00);
	padding: 10px;
}
nav {
	background: hsla(359,72%,39%,1.00);
}

btn {
	background: black;
}
.quote {
	padding: 10px;
}

footer {
	padding: 10px;
	background: hsla(359,72%,39%,1.00);
}