@charset "utf-8";

* { 
	text-align: center;
	margin: 0px;
    padding: 0px;
	border: 0px;
}

.title { 
	background: hsla(359,76%,41%,1.00);
	padding: 10px;
}

.logo {
	width: 200px;
}

nav {
	background: hsla(359,76%,41%,1.00);
	margin-bottom: 40px;
}

.carousel {
	width: 100%;
	align: center;
	padding: 30px;
}

.quote {
	padding: 10px;
}

.source {
	font-style: italic;
}

.row  { 
    padding: 10px;
	margin-bottom: -10px;
}

h4 {
	padding: 50px;
	margin-bottom: 10px
}

footer {
	padding: 10px;
	background: hsla(359,76%,41%,1.00);
}